<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354062299636-3eabv0u8em032e9ot1heirrk0gf2tbc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354062299636-3eabv0u8em032e9ot1heirrk0gf2tbc0</string>
	<key>API_KEY</key>
	<string>AIzaSyAw_q2_ateCxp86ltjjh5QJln5fgAWa92I</string>
	<key>GCM_SENDER_ID</key>
	<string>354062299636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceVendor</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-5eb53</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-5eb53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354062299636:ios:e00f99f4cb8c00ec1e09a1</string>
</dict>
</plist>